// colors
$colorTextMain: #000000;
$colorTextAlt: #FFFFFF;
$bgColor: #408DDC;
$colorTR: #979797;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$fontText: 'Lato', sans-serif;
$fontSize: 20px;
$lineHeight: 30px;
$fontSizeTitle: 50px;
$fontHeightTitle: 60px;

